{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.date_start) }}
    {{ form_row(form.date_end) }}
    {{ form_row(form.location) }}
    {{ form_row(form.nb_max_student) }}
    {{ form_row(form.availablePlaces) }}
    {% if app.request.get('_route')  == 'event_create' %}
        {% do form.availablePlaces.setRendered() %}
    {% endif %}
    {{ form_row(form.eventType) }}
    <div class="container-fluid text-center">
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>Enregistrer les modifications</button>
        <a class="btn btn-primary" href="{{ path('admin_index') }}" role="button">Retour</a>
    </div>
    {{ form_end(form) }}
{% endblock %}


