{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container col-lg-3" style="margin-top: 5%">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h2>

            <fieldset>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                       autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </fieldset>

                <div class="checkbox mt-2">
                    <label>
                        <input class="mr-2" type="checkbox" name="_remember_me"> Se souvenir
                    </label>
                </div>

            <div class="col-lg-8 offset-lg-2 d-flex flex-column p-2">
                <button class="btn btn-success" type="submit">
                    Se connecter
                </button>
                <a class="btn btn-primary mt-2" href="{{ path('home') }}" role="button">Accueil</a>
                <a class="btn btn-warning mt-2" href="{{ path('app_forgot_password_request') }}" role="button">Mot de passe perdu</a>
            </div>
        </form>
    </div>
{% endblock %}
