{% extends 'base.html.twig' %}
{% block title %}Force{% endblock %}

{% block body %}
    {% include 'shared/header.html.twig' %}
    <div class="tour-place force">
        <div class="text-center" style="margin-bottom: 6%">
            {{ include('shared/toast.html.twig') }}
            <h1 class="text-center">L'utilisation de la force physique: le dernier recours de la self-défense</h1>
            <p>Dans la mesure ou toutes vos tentatives de désamorcer la situation on échouées ou si vous êtes agressé,
                l'utilisation de de vos connaissances techniques et de votre préparation pourraient vous sauver la vie
                !</p>
        </div>
        <div class="body-container">
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-15.jpg" alt="self-defense" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Quand vous devez engager le combat.</h2>
                            <p>Pour engager le combat, deux cas se présentent. <br>
                                Ils vont nécessiter des réponses spécifiques.</p>
                        </div>

                        <div class="ul-container">
                            <div class="container-fluid">
                                <h4 class="text-center" style="color: blue">L'agresseur prend l’initiative</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: blue">Se protéger:</span> se mettre en garde bunker pour
                                        bloquer
                                        le
                                        coup.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: blue">Anticiper</span>: riposter avec des techniques
                                        adaptées à
                                        la
                                        situation.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: blue">Aller au contact:</span> passer à l’action.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: blue">Respecter le timing:</span> être rapide, explosif.
                                    </li>
                                </ul>
                            </div><!--END first UL-->

                            <div class="container-fluid">
                                <h4 class="text-center" style="color: limegreen">Vous devez prendre l'initiative</h4>

                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: limegreen">Anticiper:</span> riposter avec des techniques
                                        adaptées à
                                        la situation.
                                    </li>

                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: limegreen">Aller au contact:</span> passer à l’action.
                                    </li>

                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <span style="color: limegreen">Respecter le timing:</span> être rapide,
                                        explosif.
                                    </li>
                                </ul>
                            </div> <!--END second UL-->

                        </div> <!--END ul-container-->
                    </div> <!--END place-info-->
                </figure> <!--END place-img-->
            </section> <!--END single-place-->
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-16.jpg" alt="protection personnelle" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2 class="text-center">Quatre distances de combat, quatre types de techniques
                                différentes</h2>
                        </div>
                        <div class="ul-container">
                            <div class="container-fluid">
                                <ul class="list-group text-center">
                                    <li class="list-group-item list-group-item-success">
                                        Sécurité: être hors de portée des coups.
                                    </li>
                                    <li><i class="fas fa-arrow-down"></i></li>
                                    <li class="list-group-item list-group-item-info">
                                        Sniper: de loin, privilégier les jambes et entrer en contact.
                                    </li>
                                    <li><i class="fas fa-arrow-down"></i></li>
                                    <li class="list-group-item list-group-item-warning">
                                        AK 47: débiter vite pour saturer l’adversaire puis se décaler.
                                    </li>
                                    <li><i class="fas fa-arrow-down"></i></li>
                                    <li class="list-group-item list-group-item-danger">
                                        Clinch (corps à corps): Techniques pour éviter ou sortir d’une saisie (yeux,
                                        gorge,
                                        partie, mordre)
                                    </li>
                                    <li><i class="fas fa-arrow-down"></i></li>
                                    <li class="list-group-item list-group-item-text"
                                        style="background-color: black; color: white">
                                        Sol: Utiliser les cinq principes du sol.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-17.jpg" alt="protection personnelle" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Les zones de contact à privilégier en combat.</h2>
                        </div>
                        <div class="ul-container">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>La tête</b></u> : yeux, nez, pommettes, arcades, mâchoire.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>La nuque. </b></u>
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>La gorge</b></u> : carotides, pomme d'Adam.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Le ventre</b></u> : plexus, foie.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Les parties.</b></u>
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Les jambes</b></u> : genoux, cuisses.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-18.jpg" alt="panneau stop" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Les techniques pour stopper un agresseur</h2>
                            <p>Pour stopper un agresseur qui avance vers vous, priviégiez, dans la mesure du possible
                                ces
                                quelques techniques.</p>
                        </div>
                        <div class="ul-container" style="display: flex; flex-direction: row">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>"Fulguro poings"</b></u>(2 bras tendus).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>"Crab"</b></u>(frappe avec le tranchant de la main).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Coup de pied</b></u> dans les parties.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Bouclier</b></u> "bélier".
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Percussion</b></u> au genou ou à la cuisse.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-19.jpg" alt="protection personnelle" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Les techniques si vous prenez l'initiative</h2>
                            <p>Pour entrer en contact il faut <strong>casser la distance.</strong></p>
                        </div>
                        <div class="ul-container" style="display: flex; flex-direction: row">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>"Fulguro poings"</b></u>(2 bras tendus).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Coup de poing "Cow-Boy"</b></u> (bras tendu visage).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Genou / middle kick sauté.</b></u>
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Coup de poing marteau</b></u> à la volée et sauté.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Ciseaux</b></u> dans les parties.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Entrée en <u><b>garde bunker</b></u>.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        <u><b>Main droite au visage avec "crab" simultané.</b></u>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-20.jpg" alt="protection personnelle" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>La lutte au sol</h2>
                            <p>Les cinq grands principes à respecter en cas de lutte au sol. Elle est rarement enseigné
                                et
                                pourtant il est si fréquent de s'y retrouver confronté !
                                Et ce même si on doit éviter de s'y retrouver autant que faire se peut.</p>
                        </div>
                        <div class="ul-container">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percuter les yeux.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percuter la gorge.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Mordre, s’il le faut ou si l'on est coincé.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percuter les parties.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Pousser la tête.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-21.jpg" alt="protection personnelle" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Etre en sûreté</h2>
                            <p>Primordial dans les phases d'entrée en contact, le principe est toujours le même:
                                <strong>percuter ou riposter, se décaler.</strong></p>
                        </div>
                        <div class="ul-container" style="display: flex; flex-direction: row;">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percuter avec le dos de la main dans les parties génitales et faire un pas de
                                        décalage.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        "Crab" avec un pas de décalage.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Coup de poing "Cow-Boy" au plexus en décalant avec une
                                        frappe simultanée sur le bras.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Genou à la cuisse en se décalant.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        "Balayette" toujours en se décalant.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-22.jpg" alt="réfléchir avant agir" class="img-responsive">
                    <div class="place-info">
                        <div class="place-info-intro text-center">
                            <h2>Déconcerter l'agresseur</h2>
                            <p>Important car il peut permettre de mettre rapidement un terme à une agression.</p>
                        </div>
                        <div class="ul-container" style="display: flex; flex-direction: row;">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Pousser avec les 2 mains au niveau de la poitrine.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Donner une ou des gifles.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Amener l'agresseur au sol en tirant sur sa tête.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percuter les oreilles avec ses deux mains.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Donner deux coups de poings marteau, croisés en simultané sur les carotides.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Mordre.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-23.jpg" alt="self-defense" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Déconnecter l'agresseur</h2>
                            <p>Indispensable lorsque vous êtes confronté à un agresseur sous l'emprise d'alcool ou de
                                stupéfiants.</p>
                        </div>
                        <div class="ul-container">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Coup de poing "Cow-Boy" au plexus.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Manchette avec le revers de la main.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Les pouces dans les yeux.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        "Crab" à la gorge.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Manchette ou avec le revers de la main à la carotide.
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Percussion des parties avec la main, le genou, ou le pied.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-24.jpg" alt="self-defense" class="img-responsive">
                    <div class="place-info" style="flex-direction: column">
                        <div class="place-info-intro text-center">
                            <h2>Les portes pour sortir de notre garde "bunker"</h2>
                        </div>
                        <div class="ul-container">
                            <div class="container-fluid">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        "Hachoir" avec les mains ouvertes (niveau <a
                                                href="{{ path('level_response') }}#protector">Protector</a>).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Revers "marteau" (niveau <a
                                                href="{{ path('level_response') }}#destructor">Destuctor</a>).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Coup de coude (niveau <a
                                                href="{{ path('level_response') }}#predator">Predator</a>).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Passer, saisir les bras (niveau <a href="{{ path('level_response') }}#survivor">Survivor</a>).
                                    </li>
                                    <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                        Pied, genou (niveau <a
                                                href="{{ path('level_response') }}#protector">Protector</a>).
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </figure>
            </section>
        </div> <!--END body-container-->
    </div>
{% endblock %}


